version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: flowstate_db
    restart: always
    environment:
      POSTGRES_USER: adik
      POSTGRES_PASSWORD: adik
      POSTGRES_DB: flowstate
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
